@page "/Workout"
<h3>Workout</h3>


@if(CurrentWorkout.HasValue)
{
    foreach (var set in CurrentWorkout.Value.Sets)
    {

        <SetComponent Set="@set" />
    }
}
else
{
    <p>Loading...</p>
}


<RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Click="@OnSave" />
<RadzenButton Text="Complete" ButtonStyle="ButtonStyle.Primary" Click="@OnComplete" />