@page "/Workout"
<h3>Workout @_meso?.CurrentDayOfWeek?.StringEquivalent()</h3>


@if(CurrentWorkout.HasValue)
{
    if (_meso.CurrentWeekIndex== _meso.TotalWeeks)
    {
        <p>Week {_meso.CurrentWeekIndex} of {_meso.totalWeeks} (Final Week)</p>
    }
    else 
    {
        <p>Week {_meso.CurrentWeekIndex} of {_meso.totalWeeks}</p>
    }

    foreach (var set in CurrentWorkout.Value.Sets)
    {
        <SetComponent Set="@set" OnSetUpdated="Save" />
    }
}
else
{
    <p>Loading...</p>
}


<RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Click="@OnSave" />
<RadzenButton Text="Complete" ButtonStyle="ButtonStyle.Primary" Click="@OnComplete" />