@page "/CreateOrUpdateDailyLimits"
<h3>Add Food</h3>
@* *@
@* *@

@if (DailyLimits != null)
{
    <EditForm Model="@DailyLimits" OnValidSubmit="@HandleValidSubmit" id="test">

        <RadzenCard>
            Calories <RadzenNumeric TValue="int" @bind-Value="DailyLimits.Calories">Quantity</RadzenNumeric>
        </RadzenCard>
        <RadzenCard>
            Weight (kg) <RadzenNumeric TValue="int" @bind-Value="DailyLimits.WeightInKg">Quantity</RadzenNumeric>
        </RadzenCard>
        <RadzenCard>
            Protein <RadzenNumeric TValue="int" @bind-Value="DailyLimits.Protein">Protein</RadzenNumeric>
        </RadzenCard>
        <RadzenCard>
            Carbohydrate <RadzenNumeric TValue="int" @bind-Value="DailyLimits.Carbohydrate">Carbohydrate</RadzenNumeric>
        </RadzenCard>
        <RadzenCard>
            Fat @DailyLimits.Fat
        </RadzenCard>

        <ValidationSummary></ValidationSummary>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </EditForm>

    <button type="submit" class="btn btn-primary" form="test">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    @foreach (var alert in AlertMessages)
    {
        <RadzenAlert AlertStyle="AlertStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter">
            @alert
        </RadzenAlert>
    }
}
else
{
    <p>Loading...</p>
}