@page "/"
@* @using Microsoft.AspNetCore.Components.WebAssembly.Hosting *@
@* @inject IWebAssemblyHostEnvironment env *@

@* Environment is @env.Environment *@
<PageTitle>Index</PageTitle>

<h1>Hello, world1!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>