<h3>SetGroupComponent</h3>

@if(SetGroup == null)
{
    <p>Loading...</p>
    return;
}

<strong>@SetGroup.ExerciseName</strong>

<div class="container">
    
    @foreach (var set in SetGroup.Sets)
    {
        <SetComponent Set="@set" OnSetUpdated="Save"  />
    }
    <div class="row py-1">
        <div class="col">
            <RadzenButton Click="@AddSet" Icon="add" ButtonStyle="ButtonStyle.Primary"/>
        </div>
    </div>

</div>