<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TrackMyMacros.App2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foodlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Food List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FoodComboList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Food Combos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateFood">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create New Food
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateOrUpdateDailyLimits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Macros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MacrosDay">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Macros Day
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WeightReadingList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weight Readings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddNewWeightReading">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Add Weight Reading
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Log">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Log
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}