<h3>Select Date</h3>



<div class="container">
<RadzenDatePicker DateFormat="MM/dd/yyyy" @bind-Value=@SelectedDate/>

    <div class="rz-p-12 rz-text-align-center">
        <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="OnCancelClicked"/>
        <RadzenButton Text="Copy" ButtonStyle="ButtonStyle.Secondary" Click="OnCopyMealsToDateClicked"/>
    </div>

</div>